<template>
  <div>
  </div>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';

  @Component
  export default class <class_name> extends Vue {
  }
</script>

<style scoped>
</style>
