<template>
  <div class="slds-border_right slds-border_left">
    <table class="slds-table slds-table_bordered slds-table_cell-buffer">
      <thead>
      <tr class="slds-text-title_caps">
        <th>
          <div class="slds-truncate">Производитель</div>
        </th>
        <th>
          <div class="slds-truncate">Модель</div>
        </th>
        <th>
          <div class="slds-truncate">Год выпуска</div>
        </th>
        <th>
          <div class="slds-truncate">Стоимость</div>
        </th>
        <th>
          <div class="slds-truncate">Цвет</div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="item in filteredItems">
        <td>
          <div class="slds-truncate">{{item.make}}</div>
        </td>
        <td>
          <div class="slds-truncate">{{item.model}}</div>
        </td>
        <td>
          <div class="slds-truncate">{{item.year}}</div>
        </td>
        <td>
          <div class="slds-truncate">{{item.price}}</div>
        </td>
        <td>
          <div class="slds-truncate color">
            <div class="color__example" v-bind:style='{background: getColor(item.color)}'></div>
            <div class="color__name">({{item.color}})</div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
  import { Component, Prop, Vue, Watch } from 'vue-property-decorator';
  import { State, Action } from 'vuex-class'
  import axios from 'axios';
  import { Params } from '@/params';
  import { colorsTable } from '@/colors';

  @Component
  export default class List extends Vue {
    data: Params[] = [];
    colorsTable: any = colorsTable;

    @State search!:string;
    @State make!:string;
    @State model!:string;
    @State year!:string;
    @State price_min!:number;
    @State price_max!:number;
    @State color!:string;

    created() {
      axios.get('data.json').then(response => {
        this.data = response.data;
        this.$store.dispatch('updateCatalog', response.data);
      });
    }

    getColor(color: string) {
      return this.colorsTable[color.toLowerCase()];
    }

    get filteredItems() {
      let filtered: Params[] = this.data;

      if(this.search) {
        filtered = filtered.filter(item => {
          return item.make.toLowerCase().indexOf(this.search.toLowerCase()) !== -1 ||
          item.model.toLowerCase().indexOf(this.search.toLowerCase()) !== -1 ||
          item.year.toString().indexOf(this.search.toLowerCase()) !== -1 ||
          item.price.toString().indexOf(this.search.toLowerCase()) !== -1 ||
          item.color.toLowerCase().indexOf(this.search.toLowerCase()) !== -1
        })
      }

      if (this.make) {
        filtered = filtered.filter(item => {
          return item.make == this.make;
        });
        this.$store.dispatch('updateCatalog', filtered);
      }

      if(this.make === null) {
        this.$store.dispatch('updateCatalog', filtered);
      }

      if (this.model) {
        const model = this.model.split(',');
        filtered = filtered.filter(item => {
          return model.indexOf(item.model) !== -1;
        });
      }

      if (this.year) {
        const year = this.year.split(',').map((year: string) => {
          return parseInt(year);
        });
        filtered = filtered.filter(item => {
          return year.indexOf(item.year) !== -1;
        });
      }

      if (this.price_min && this.price_max) {
        filtered = filtered.filter(item => {
          return item.price >= this.price_min;
        }).filter(item => {
          return item.price <= this.price_max;
        });
      }

      if (this.color) {
        const color = this.color.split(',');
        filtered = filtered.filter(item => {
          return color.indexOf(item.color) !== -1;
        });
      }

      return filtered;
    }
  }
</script>

<style scoped>
.color {
  font-size: 0;
}

.color__example,
.color__name {
  display: inline-block;
  vertical-align: middle;
}

.color__example {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.color__name {
  font-size: 0.7rem;
}
</style>
