<template>
  <Wrapper name="Цвет" v-on:clear="onClear()">
    <div class="slds-grid slds-wrap">
      <div class="slds-form-element slds-col slds-size_4-of-12" v-for="color in colors">
        <div class="slds-form-element__control">
          <span class="slds-checkbox">
            <input type="checkbox" :name="color" :id="getId(color)" :value="color" v-model="selected"
                   @change="onChange()"/>
            <label class="slds-checkbox__label" :for="getId(color)">
              <span class="slds-checkbox_faux"></span>
              <span class="slds-form-element__label color">
                <span class="color slds-truncate" v-bind:style="{background: getColor(color)}"></span>
              </span>
            </label>
          </span>
        </div>
      </div>
    </div>
  </Wrapper>
</template>

<script lang="ts">
  import { Component, Vue, Watch } from 'vue-property-decorator';
  import { State, Action } from 'vuex-class'
  import Wrapper from './Wrapper.vue'
  import { Params } from '@/params';
  import { colorsTable } from '@/colors';

  @Component({
    components: {
      Wrapper
    }
  })
  export default class YearFilter extends Vue {
    @State catalog!: Params[];
    colors: Array<string> = [];
    selected: Array<string> = [];
    colorsTable: any = colorsTable;

    @Watch('catalog')
    onCatalogChange(catalog: any) {
      this.colors = [];
      catalog.map((el: Params) => {
        if (this.colors.indexOf(el.color) === -1) {
          this.colors.push(el.color)
        }
      });
    }

    created() {
      if (this.$route.query.color) {
        this.selected = this.$route.query.color.split(',');
      }
    }

    getId(color: string) {
      return `${this.constructor.name.toLowerCase()}_${color.toLowerCase()}`
    }

    getColor(color: string) {
      return this.colorsTable[color.toLowerCase()];
    }

    onClear() {
      this.selected = [];
      this.onChange(true);
    }

    onChange(clear: boolean) {
      let newQuery = Object.assign({}, this.$route.query);
      if (this.selected.length) {
        newQuery['color'] = this.selected.join(',');
      }
      else  {
        delete newQuery['color'];
      }
      if(clear) {
        delete newQuery['color'];
      }
      this.$router.push({path: '/', query: newQuery});
    }
  }
</script>

<style scoped>
  .color {
    display: inline-block!important;
    vertical-align: middle;
    width: 50px;
    height: 25px;
    color: #000000;
    text-align: center;
    padding: 3px 0;
  }
</style>
