<template>
  <article class="slds-card">
  <MakeFilter/>
  <ModelFilter/>
  <YearFilter/>
  <PriceFilter/>
  <ColorFilter/>
  </article>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import MakeFilter from './MakeFilter.vue';
  import ModelFilter from './ModelFilter.vue';
  import YearFilter from './YearFilter.vue';
  import PriceFilter from './PriceFilter.vue';
  import ColorFilter from './ColorFilter.vue';

  @Component({
    components: {
      MakeFilter,
      ModelFilter,
      YearFilter,
      PriceFilter,
      ColorFilter
    }
  })
  export default class Filters extends Vue {
  }
</script>

<style scoped>
</style>
