<template>
  <Wrapper name="Производитель" v-on:clear="onClear()">
    <div class="make-wrapper">
      <div class="make" v-for="(image, name) in makes"
           @click="onChange(name)"
           v-bind:class="{'make_active' : selected === name}">
        <img class="make__image" onload="this.style.visibility = 'visible'" :src="image" :alt="name">
        <div class="make__placeholder slds-truncate">{{name}}</div>
      </div>
    </div>
  </Wrapper>
</template>

<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';
  import Wrapper from './Wrapper.vue'
  import { auto }from '@/cars-images';

  @Component({
    components: {
      Wrapper,
    }
  })

  export default class MakeFilter extends Vue {
    makes = auto;
    selected: string = '';

    created() {
      if (this.$route.query.make) {
        this.selected = this.$route.query.make;
      }
    }

    onClear() {
      this.selected = '';
      this.onChange(this.selected);
    }

    onChange(name: string) {
      let newQuery = { make: name };
      if(name === '') {
        delete newQuery['make'];
      }
      this.selected = name;
      this.$router.push({ path: '/', query: newQuery});
    }
  }
</script>

<style scoped>
  .make-wrapper {
    width: 100%;
    font-size: 0;
  }

  .make {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
    border: 1px solid #dddbda;
    margin-right: 9px;
    margin-bottom: 9px;
    cursor: pointer;
    box-sizing: border-box;
  }

  .make_active {
    border-color: #777777;
    opacity: 0.7;
  }

  .make:nth-child(6n) {
    margin-right: 0;
  }

  .make__image {
    position: relative;
    visibility: hidden;
    z-index: 5;
  }

  .make__placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #777777;
    font-size: 0.7rem;
    text-align: center;
    padding: 0.7rem 0;
    color: #ffffff;
    z-index: 0;
  }
</style>
