<template>
  <Wrapper name="Модель" v-on:clear="onClear()">
    <div class="slds-grid slds-wrap">
      <div class="slds-form-element slds-col slds-size_6-of-12" v-for="model in models">
        <div class="slds-form-element__control">
          <span class="slds-checkbox slds-truncate">
            <input type="checkbox" :name="model" :id="getId(model)" :value="model" v-model="selected"
                   @change="onChange()"/>
            <label class="slds-checkbox__label" :for="getId(model)">
              <span class="slds-checkbox_faux"></span>
              <span class="slds-form-element__label">{{model}}</span>
            </label>
          </span>
        </div>
      </div>
    </div>
  </Wrapper>
</template>

<script lang="ts">
  import { Component, Prop, Vue, Watch } from 'vue-property-decorator';
  import { State, Action } from 'vuex-class'
  import Wrapper from './Wrapper.vue'
  import { Params } from '@/params';

  @Component({
    components: {
      Wrapper,
    }
  })
  export default class ModelFilter extends Vue {
    @State catalog!: Params[];
    models: Array<string> = [];
    selected: Array<string> = [];

    @Watch('catalog')
    onCatalogChange(catalog: any) {
      this.models = [];
      catalog.map((el: Params) => {
        if (this.models.indexOf(el.model) === -1) {
          this.models.push(el.model)
        }
      });
    }

    @Watch('$route.query')
    onRouteChanged(params: Params) {
      if(!params.model) {
        this.selected = [];
      }
    }

    created() {
      if (this.$route.query.model) {
        this.selected = this.$route.query.model.split(',');
      }
    }

    onClear() {
      this.selected = [];
      this.onChange(true);
    }

    getId(model: string) {
      model = model.replace(/\s+/g, "");
      return `${this.constructor.name.toLowerCase()}_${model.toLowerCase()}`
    }

    onChange(clear: boolean) {
      let newQuery = Object.assign({}, this.$route.query);
      if (this.selected.length) {
        newQuery['model'] = this.selected.join(',');
      }
      else  {
        delete newQuery['model'];
      }
      if(clear) {
        delete newQuery['model'];
      }
      this.$router.push({path: '/', query: newQuery});
    }
  }
</script>
