<template>
  <Wrapper name="Стоимость" v-on:clear="onClear()">
    <div class="price-slider">
      <div class="slds-form-element">
        <label class="slds-form-element__label">{{selected[0]}}-{{selected[1]}}</label>
    <!--<RangeSlider :min="min" :max="max"/>-->
        <vue-slider ref="priceSlider" :tooltip="false" :min="min" :max="max" v-model="selected"></vue-slider>
      </div>
    </div>
  </Wrapper>
</template>

<script lang="ts">
  import { Component, Vue, Watch } from 'vue-property-decorator';
  import { State, Action } from 'vuex-class'
  import Wrapper from './Wrapper.vue';
  import { Params } from '@/params';
  //import RangeSlider from './RangeSlider.vue';
  import vueSlider from 'vue-slider-component';

  @Component({
    components: {
      Wrapper,
      vueSlider,
      //RangeSlider
    }
  })
  export default class PriceFilter extends Vue {
    @State catalog!: Params[];
    prices: Array<number> = [];
    selected: Array<number> = [];
    min = 0;
    max = 0;
    sMin = 0;
    sMax = 0;
    slider:any = undefined;
    loaded = false;

    @Watch('catalog')
    onCatalogChange(catalog: any) {
      if(!this.loaded) {
        this.prices = [];
        catalog.map((el: Params) => {
          if (this.prices.indexOf(el.price) === -1) {
            this.prices.push(el.price)
          }
        });
        this.min = Math.min.apply(Math,this.prices);
        this.max = Math.max.apply(Math,this.prices);
        this.prices = this.prices.sort((a, b) => a - b)
        if(this.sMin == 0 && this.sMax == 0) {
          this.sMin = this.min;
          this.sMax = this.max;
        }
        this.selected.push(this.sMin);
        this.selected.push(this.sMax);
        this.slider.refresh();
        setTimeout(() => {
        this.loaded = true;
        });
      }
    }

    @Watch('selected')
      onSelectedChange() {
        if(this.loaded) {
          this.onChange(false);
        }
      }

    mounted() {
      this.slider = this.$refs.priceSlider;
      if (this.$route.query.price_min && this.$route.query.price_max) {
        this.sMin = parseInt(this.$route.query.price_min);
        this.sMax = parseInt(this.$route.query.price_max);
      }
    }

    onClear() {
      this.selected = [this.min, this.max];
      setTimeout(() => {
      this.onChange(true);
      })
    }

    onChange(clear: boolean) {
      let newQuery = Object.assign({}, this.$route.query);
      if (this.selected.length) {
        newQuery['price_min'] = this.selected[0].toString();
        newQuery['price_max'] = this.selected[1].toString();
      }
      else  {
        delete newQuery['price_min'];
        delete newQuery['price_max'];
      }
      if(clear) {
        delete newQuery['price_min'];
        delete newQuery['price_max'];
      }
      this.$router.push({path: '/', query: newQuery});
    }
  }
</script>

<style scoped>
  .price-slider {
    margin-top: 10px;
  }
</style>
