<template>
  <div class="range-slider">
    <label class="slds-form-element__label range-slider__label">
      <span class="slds-slider-label">
        <span class="slds-slider-label__range">{{calcMin}} - {{calcMax}}</span>
      </span>
    </label>
    <div class="range-slider__item">
      <div class="range-slider__trigger" @mousedown="addMoveListener"></div>
      <div class="range-slider__trigger" @mousedown="addMoveListener"></div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { throws } from 'assert';
import { EventEmitter } from 'events';

@Component
export default class RangeSlider extends Vue {
  @Prop() min!: number;
  @Prop() max!: number;

  width: number = 0;
  trigger: any = null;
  minPos = 0;
  maxPos = 0;
  maxRelPos = 0;
  calcMin = 0;
  calcMax = 0;

  mounted() {
    const rect = this.$el.getBoundingClientRect();
    this.width = this.$el.clientWidth;
    this.maxPos = rect.width + rect.left;
    this.minPos = this.maxPos - rect.width;
    this.triggersInit();
  }

  triggersInit() {
    let $triggers: any = this.$el.getElementsByClassName('range-slider__trigger');
    this.maxRelPos = this.width - $triggers[1].getBoundingClientRect().width

    $triggers[0].style.left = 0;
    $triggers[1].style.left = this.maxRelPos + 'px';

    this.calcMin = this.min;
    this.calcMax = this.max;
  }

  calculate(val: number) {
    let max = (this.max / (this.maxRelPos / 100)) * (val / 100),
        min = (this.min / (this.maxRelPos / 100)) * (val / 100),
        cpos = (this.min + (max - min));
    if(this.calcMin < cpos && cpos < this.calcMax) {
      this.calcMin = Math.round(cpos);
    }
  }

  onMousemove(e: any) {
    const rect = this.trigger.getBoundingClientRect(),
      offset = rect.width / 2;
    let pos = e.clientX - this.minPos;
        if(e.clientX - offset <= this.minPos) {
          this.trigger.style.left = 0
          this.calculate(0);
        }
        if(e.clientX - offset >= this.maxPos) {
          this.trigger.style.left = this.width - offset + 'px'
          this.calculate(this.width - offset);
        }
        if(e.clientX >= this.minPos && e.clientX <= this.maxPos) {
          this.trigger.style.left = pos + offset + 'px';
          this.calculate(pos + offset);
        }
  }

  addMoveListener(e: any) {
    document.addEventListener('mousemove', this.onMousemove);
    document.addEventListener('mouseup', this.removeMoveListener);
    this.trigger = e.target;
    e.preventDefault();
  }

  removeMoveListener(e: any) {
    document.removeEventListener('mousemove', this.onMousemove);
    document.removeEventListener('mouseup', this.removeMoveListener);
    this.trigger = null;
    e.preventDefault();
  }
}
</script>

<style scoped>
.range-slider__label {
  margin-bottom: 7px;
}

.range-slider__item {
  position: relative;
  height: 4px;
  background-color: #ecebea;
  margin: 7px 0;
}

.range-slider__trigger {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #0070d2;
  border-radius: 50%;
  cursor: pointer;
  top: -5px;
}
</style>
