<template>
    <div class="slds-form-element slds-m-bottom_small">
      <div class="slds-form-element__control">
        <div class="slds-combobox-group">
          <div class="slds-combobox_container slds-combobox-addon_end">
            <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" id="primary-combobox-id-1" role="combobox">
              <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                <input type="text" class="slds-input slds-combobox__input" aria-autocomplete="list" aria-controls="listbox-id-1" autocomplete="off" role="textbox" placeholder="Search..."
                       v-model="search"/>
                <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right" title="Description of icon when needed">
                <IconSearch class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default"/>
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script lang="ts">
  import { Component, Vue, Watch } from 'vue-property-decorator';
  import IconSearch from '@salesforce-ux/design-system/assets/icons/utility/search.svg';

  @Component({
    components: {
      IconSearch
    }
  })
  export default class Search extends Vue {
    search = '';

    @Watch('search')
      onSearch() {
      let newQuery = Object.assign({}, this.$route.query);
      if (this.search.length) {
        newQuery['search'] = this.search;
      }
      else  {
        delete newQuery['search'];
      }
      this.$router.push({path: '/', query: newQuery});
    }
  }
</script>
