<template>
  <div>
    <div class="slds-card__header slds-grid">
      <header class="slds-media slds-media_center slds-has-flexi-truncate">
        <div class="slds-media__body">
          <h2 class="slds-card__header-title slds-truncate">
            <a href="javascript:void(0);" class="slds-card__header-link slds-truncate"
              @click="toggle()">
              <span class="slds-text-heading_small">{{ name }}</span>
              <span class="slds-icon_container slds-current-color">
              <IconAnchor class="slds-icon slds-icon-text-default slds-icon_x-small show-icon slds-m-bottom_xxx-small show-icon"
                          v-bind:class="{'show-icon_on': show}"/>
              </span>
            </a>
          </h2>
        </div>
        <div class="slds-no-flex">
          <div class="slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open">
            <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small"
              @click="clear()">
              <IconClose class="slds-button__icon" aria-hidden="true"/>
            </button>
          </div>
        </div>
      </header>
    </div>
    <div class="slds-card__body slds-card__body_inner" v-show="show">
      <slot></slot>
    </div>
  </div>
</template>

<script lang="ts">
  import { Component, Prop, Vue, Emit } from 'vue-property-decorator';
  import IconClose from '@salesforce-ux/design-system/assets/icons/utility/close.svg';
  import IconAnchor from '@salesforce-ux/design-system/assets/icons/utility/chevrondown.svg';

  @Component({
    components: {
      IconClose,
      IconAnchor
    }
  })
  export default class Wrapper extends Vue {
    @Prop() name!: string;
    show = true;

    toggle() {
      this.show = !this.show;
    }

    @Emit('clear') clear() {
      return true;
    };
  }
</script>

<style scoped>
  .show-icon {
    transition: transform 0.3s ease;
  }

  .show-icon_on {
    transform: rotate(180deg);
  }
</style>
