<template>
  <Wrapper name="Год" v-on:clear="onClear()">
    <div class="slds-grid slds-wrap">
      <div class="slds-form-element slds-col slds-size_3-of-12" v-for="year in years">
        <div class="slds-form-element__control">
          <span class="slds-checkbox">
            <input type="checkbox" :name="year" :id="getId(year)" :value="year" v-model="selected"
                   @change="onChange()"/>
            <label class="slds-checkbox__label" :for="getId(year)">
              <span class="slds-checkbox_faux"></span>
              <span class="slds-form-element__label">{{year}}</span>
            </label>
          </span>
        </div>
      </div>
    </div>
  </Wrapper>
</template>

<script lang="ts">
  import { Component, Vue, Watch } from 'vue-property-decorator';
  import { State, Action } from 'vuex-class'
  import Wrapper from './Wrapper.vue'
  import { Params } from '@/params';

  @Component({
    components: {
      Wrapper
    }
  })
  export default class YearFilter extends Vue {
    @State catalog!: Params[];
    years: Array<number> = [];
    selected: Array<number> = [];

    @Watch('catalog')
    onCatalogChange(catalog: any) {
      this.years = [];
      catalog.map((el: Params) => {
        if (this.years.indexOf(el.year) === -1) {
          this.years.push(el.year)
        }
      });
      this.years = this.years.sort((a, b) => a - b)
    }

    created() {
      if (this.$route.query.year) {
        this.selected = this.$route.query.year.split(',').map(year => {
          return parseInt(year);
        });
      }
    }

    getId(year: string) {
      return `${this.constructor.name.toLowerCase()}_${year}`
    }

    onClear() {
      this.selected = [];
      this.onChange(true);
    }

    onChange(clear: boolean) {
      let newQuery = Object.assign({}, this.$route.query);
      if (this.selected.length) {
        newQuery['year'] = this.selected.join(',');
      }
      else  {
        delete newQuery['year'];
      }
      if(clear) {
        delete newQuery['year'];
      }
      this.$router.push({path: '/', query: newQuery});
    }
  }
</script>
