<template>
  <div class="slds-grid wrapper">
    <div class="slds-col col-catalog">
      <Search/>
      <List/>
    </div>
    <div class="slds-col col-filters">
      <Filters/>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import List from './components/List.vue';
import Filters from './components/filters/Filters.vue';
import Search from './components/filters/Search.vue';
import { Params, Store } from '@/params';

@Component({
  components: {
    List,
    Filters,
    Search
  }
})
export default class App extends Vue {
  @Watch('$route.query')
  onRouteChanged(params: any) {
    this.$store.dispatch('update', new Store(params));
  }

  created() {
    if (this.$route.query) {
      this.$store.dispatch('update', new Store(this.$route.query));
    }
  }
}
</script>

<style scoped>
@import url('../node_modules/@salesforce-ux/design-system/assets/styles/salesforce-lightning-design-system.min.css');

.wrapper {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  box-sizing: border-box;
}

.col-catalog,
.col-filters {
  margin-right: 10px
}

.col-filters {
  max-width: 320px;
  min-width: 320px;
}
</style>
